<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>공기밥 관리자 페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
</head>
<body class="bg-admin-login">
    <div class="content-wrapper">
        <div class="box-login">
            <div class="input-wrapper">
                <input class="input-admin-login" type="text" placeholder="ID">
            </div>
            <div class="input-wrapper">
                <input class="input-admin-login" type="password" placeholder="PW">
            </div>
            <div>
                <button type="button" class="btn-admin-login">Login</button>
            </div>
        </div>
    </div>
</body>
</html>