<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/dashboard_layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<th:block layout:fragment="content">
    <script th:inline="javascript">
        /*<![CDATA[*/
        const ctxPath = /*[[ @{/} ]]*/ '';
        /*]]>*/

        $(document).ready(function() {
            $("input[value='firstRegisterPage']").prop('checked', true);
            $("#firstRegisterPage").css('display', 'block');
        })

        function showPage(radio) {
            var pages = document.getElementsByClassName("add_place");
            for(var i = 0; i < pages.length; i++) {
                pages[i].style.display = "none";
            }

            var pageId = radio.value;
            var pageToShow = document.getElementById(pageId);
            pageToShow.style.display = "block";
        }

        function validateFileType() {
            var fileName = $("#fileName").val();
            var idxDot = fileName.lastIndexOf(".")+1;
            var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
            if(extFile !="jpg" && extFile !="jpeg" && extFile !="png") {
                alert("이미지 파일만 업로드 해주세요");
                $("#fileName").val('');
            }
        }

        function addFirstVisit() {
            var frm = document.frmFirstVisitRestaurant;

            var i = $("select[name='selectedCity']").val();
            console.log(i);
        }

        function getDistrictsByCity(selectElement) {
            var selectElementVal = selectElement.value;
            if(selectElementVal == "none") {
                $(select[name='selectedDistrict'].val(""));
            } else {
                var city = {"cityId": selectElementVal};
                $.ajax({
                    url: ctxPath+"admin/getDistricts",
                    processData: false,
                    contentType: "application/json",
                    type: "POST",
                    async:true,
                    data: JSON.stringify(city),
                    dataType: "json",
                    success : function(data) {
                        $("select[name='selectedDistrict']").children('option:not(:first)').remove();
                        $.each(data, function(index, item) {
                           $("select[name='selectedDistrict']").append('<option value="' + item.district_id +'">' + item.district_name + '</option');
                        });
                    },
                    error: function(request, status, error){
                        alert("code: "+request.status+"\n"+"message: "+request.responseText+"\n"+"error: "+error);
                    }
                });
            }

        }

    </script>
    <section class="sidenav-content">
        <div class="input-place-content">
            <div class="content-title">음식점 등록</div>
            <div class="list-radio">
                <input type="radio" id="firstRegister" name="selectOpt" value="firstRegisterPage" onclick="showPage(this)">
                <label for="firstRegister">처음 등록</label>
                <input type="radio" id="addVisit" name="selectOpt" value="addVisitPage" onclick="showPage(this)">
                <label for="addVisit">방문 기록만 추가</label>
            </div>

            <div class="add_place" id="firstRegisterPage">
                <form name="frmFirstVisitRestaurant">
                    <div class="add-form-wrapper">
                        <table class="add-place-table">
                            <tr>
                                <th>지역 설정</th>
                                <td>
                                    <select class="custom-select-addr" name="selectedCity" onchange="getDistrictsByCity(this)">
                                        <option value="none">광역시/도</option>
                                        <option th:each="city : ${cities}" th:value="${city.getCity_id}" th:text="${city.getCity_name}"></option>

                                    </select>

                                    <select class="custom-select-addr" name="selectedDistrict">
                                        <option value="none">시/군/구</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th>음식점명</th>
                                <td>
                                    <input class="input-place-info" type="text">
                                </td>
                            </tr>

                            <tr>
                                <th>방문일시</th>
                                <td>
                                    <input class="input-place-info" type="text">
                                </td>
                            </tr>

                            <tr>
                                <th>방문 인원</th>
                                <td>
                                    <input class="input-place-info" type="text">
                                </td>
                            </tr>

                            <tr>
                                <th>사용금액</th>
                                <td>
                                    <input class="input-place-info" type="text">
                                </td>
                            </tr>

                            <tr>
                                <th>위도/경도</th>
                                <td>
                                    <input class="input-place-info" type="text" placeholder="위도">
                                    <input class="input-place-info" type="text" placeholder="경도">
                                </td>
                            </tr>

                            <tr>
                                <th>음식점 사진</th>
                                <td>
                                    <input type="file" id="fileName" accept="image/*" onchange="validateFileType()"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="btn-right">
                        <button type="button" class="btn-add-place" onclick="addFirstVisit()">등록하기</button>
                    </div>
                </form>
            </div>

            <div class="add_place" id="addVisitPage">
                <form>
                    <div>음식점명</div>
                    <input type="text">
                </form>
            </div>
        </div>
    </section>
</th:block>
</body>
</html>