<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="kr">

<head>
    <title>공기밥 관리자 페이지</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
</head>

<body>
<th:block th:replace="fragments/dashboard_header :: header"></th:block>

<section layout:fragment="content"></section>

</body>

</html>
