<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default_layout}">

<th:block th:with="ctxPath=${#httpServletRequest.contextPath}"></th:block>
<th:block layout:fragment="content">
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        $("select[name='selectedCity']").on("change", getDistrict)
        // 도시 id와 지역 id 예외처리
        var CityId = /*[[${selectedCity}]]*/;
        if(CityId != null && !isNaN(CityId)) {
            $("select[name='selectedCity']").val(CityId);
        }
        else {
            $("select[name='selectedCity']").val("none");
        }

        getDistrict();
        var districtId = /*[[${selectedDistrict}]]*/;
        if(districtId != null && !isNaN(districtId)) {
            $("select[name='selectedDistrict']").val(districtId);
        }
        else {
            $("select[name='selectedDistrict']").val("none");
        }
    });

    // 도시 이름을 가지고 지역구 목록 조회
    function getDistrict() {
        var cityId = $("select[name='selectedCity']").val();
        $.ajax({
            url:"getDistrictList",
            type:"GET",
            async:false,
            data: {
                "cityId":cityId
            },
            dataType:"json",
            success:function (data) {
                $("select[name='selectedDistrict']").children('option:not(:first)').remove();
                $.each(data, function (index, item) {
                   $("select[name='selectedDistrict']").append('<option value="' + item.district_id +'">' + item.district_name + '</option>');
                });
            },
            error: function (request, status, error) {
                //alert("code: "+request.status+"\n"+"message: "+request.responseText+"\n"+"error: "+error);
            }
        });
    }
    /*]]>*/
</script>

<body>
    <section class="contents">
        <div class="list-wrap">
            <div id="map" style="width:100%;height:80vw;"></div>
            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=26966ba6b4868e85a7fc9760936d8e28"></script>
            <script th:inline="javascript">
                /*<![CDATA[*/
                var latitude = /*[[${district.latitude}]]*/
                var longitude = /*[[${district.longitude}]]*/

                var container = document.getElementById('map');
                var options = {
                    center: new kakao.maps.LatLng(latitude, longitude),
                    level: 5
                };

                var map = new kakao.maps.Map(container, options);
                var selectedMarker = null; // 마우스를 클릭하면 인포윈도우가 뜰 마커
                var overinfoWindow = null;

                var positions = [];
                // 마커가 표시될 위치입니다
                [# th:each="place, stat : ${placePage}"]

                var latitude = [[${place}]].latitude;
                var longitude = [[${place}]].longitude;

                var position = {
                    content : '<div>' + [[${place}]].place_name+'</div>',
                    latitude : latitude,
                    longitude : longitude
                };
                positions.push(position);
                var place[[${stat.count}]] = [[${place}]];
                [/]


                for (var i = 0; i < positions.length; i ++) {
                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        map: map, // 마커를 표시할 지도
                        position: new kakao.maps.LatLng(positions[i].latitude, positions[i].longitude)
                    });

                    // 마커에 표시할 인포윈도우를 생성합니다
                    var infowindow = new kakao.maps.InfoWindow({
                        content: positions[i].content // 인포윈도우에 표시할 내용
                    });

                    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
                    // 이벤트 리스너로는 클로저를 만들어 등록합니다
                    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
                    kakao.maps.event.addListener(marker, 'click', makeOverListener(map, marker, infowindow));
                    //kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
                };

                // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
                function makeOverListener(map, marker, infowindow) {
                    if(selectedMarker !== marker) {
                        return function () {
                            if(overinfoWindow !== null) {
                                overinfoWindow.close();
                            }
                            overinfoWindow = infowindow;
                            overinfoWindow.open(map, marker);
                            selectedMarker = marker;
                        };
                    }
                }

                // 인포윈도우를 닫는 클로저를 만드는 함수입니다
                function makeOutListener(infowindow) {
                    return function() {
                        infowindow.close();
                    };
                }
                /*]]>*/
            </script>
            <form>
                <div class="select-wrapper">
                    <div class="line-center">
                        <select id="selectCity" class="custom-select-addr" name="selectedCity">
                            <option value="none">광역시/도</option>
                            <option th:each="city : ${cities}" th:value="${city.getCity_id}" th:text="${city.getCity_name}"></option>
                        </select>
                    </div>

                    <div class="line-center">
                        <select class="custom-select-addr" name="selectedDistrict">
                            <option value="none">시/군/구</option>
                        </select>
                    </div>
                </div>
                <div class="line-center">
                    <button class="btn-search-place" onclick="searchRestaurant()">검색</button>
                </div>
            </form>

            <div class="list-body-wrap">
                <ul class="ul-body-wrap">
                    <li th:each="place : ${placePage}">
                        <a th:href="@{{ctxPath}/restaurant/detail?placeId={place_id} (ctxPath=${ctxPath}, place_id=${place.place_id})}" >
                            <div class="item-card"
                            th:style="'background: url(\'../img/restaurant/'+${place.image_id}+'\');
                            background-size: cover; background-repeat: no-repeat; background-position: center;'"
                            >

                                <p th:text="${place.place_name}"></p>
                                <p th:text="'방문 횟수 : ' + ${place.visit_count} + '회'"></p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="pagebar-wrap" th:if="${placePage != null and startPage != null} ">
                <!-- 맨처음 버튼 -->
                <a th:href="@{/restaurant/list(selectedCity=${selectedCity}, selectedDistrict=${selectedDistrict}, page=1)}"><<</a>
                <!-- 이전 버튼 -->
                <a th:href="@{${placePage.first} ? '' : @{/restaurant/list(selectedCity=${selectedCity}, selectedDistrict=${selectedDistrict}, page=${placePage.number})}}">이전</a>

                <!-- 페이지 바 -->
                <span th:if="${startPage != null}" th:each="page: ${#numbers.sequence(startPage, endPage)}">
                    <span th:if="${page == placePage.number + 1} " th:text="${page}" th:style="${'margin: 0 2vw; color: red'}"></span>
                    <span th:unless="${page == placePage.number + 1}">
                        <a th:href="@{/restaurant/list(selectedCity=${selectedCity}, selectedDistrict=${selectedDistrict}, page=${page})}" th:text="${page}"></a>
                    </span>
                </span>

                <!-- 다음 버튼 -->
                <a th:href="@{${placePage.last} ? '' : @{/restaurant/list(selectedCity=${selectedCity}, selectedDistrict=${selectedDistrict}, page=${placePage.number+2})}}">다음</a>

                <!-- 맨마지막 페이지 버튼 -->
                <a th:href="@{/restaurant/list(selectedCity=${selectedCity}, selectedDistrict=${selectedDistrict}, page=${placePage.totalPages})}">>></a>
            </div>

            <div class="info-center" th:if="${startPage == null}">
                조회할 항목이 없습니다.
            </div>

        </div>
    </section>`
</th:block>
</body>

</html>