<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      >
<th:block th:with="ctxPath=${#httpServletRequest.contextPath}"></th:block>
<header>
    <script>
        window.onload = function () {

        }
        function openNav() {
            let nav = document.getElementsByClassName('nav_wrap');
            if(nav[0].style.display === 'none') {
                nav[0].style.display = 'block';
            }
            else {
                nav[0].style.display = 'none';
            }
        }

    </script>

    <div id="wrap">
            <section class="top_01">
                <a href="#" class="btn_all gnb_all" onclick="openNav()"></a>

                <a id="logo_img_link" href="/">
                    <img src="/img/localhongdae_logo.png" alt="local hongdae">
                </a>
            </section>

            <div class="nav_wrap" style="display: none">
                <section class="top_02">
                    <span class="login" id="spanLogin">
                        <a href="#" onclick="">LOGIN</a>
                    </span>
                </section>

                <nav class="main m_open">
                    <h2><a th:href="@{{ctxPath}/restaurant/list (ctxPath=${ctxPath})}">음식점 찾기</a></h2>
                    <h2><a>서비스 소개</a></h2>
                    <h2><a>오류 신고</a></h2>
                </nav>

                <section class="social_btns">
                    <a class="btn_insta"></a>
                </section>
            </div>
    </div>
</header>
</html>