@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins,
kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: SUITE-Regular, Arial, Helvetica, Verdana, Geneva, sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 900px) {

    .top_01 {
        height: 19.44vw;
        text-align: center;
        position: relative;
    }

    #logo_img_link img {
        width: 35vw;
        height: auto;
        padding-top: 7vw;
    }

    .gnb_all {
        width: 13.33vw;
        height: 13.33vw;
        margin: 0;
        position: absolute;
        top: 3.33vw;
        left: 2.22vw;
        background: url("../img/ico_gnbAll_m.png") no-repeat;
        background-size: 13.33vw;
    }

    .nav_wrap {
        position: absolute;
        top: 16.66vw;
        bottom: 16.66vw;
        width: 100%;
        padding: 0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        overflow: hidden;
        overflow-y: auto;
    }

    .top_02 {
        height: 16.6vw;
        display: flex;
        align-items: center;
    }

    .top_02 .login {
        margin-left: 6vw;
    }

    .top_02 .login a {
        padding-left: 8.33vw;
        background: url(../img/ico_login_m.png)no-repeat left center;
        background-size: 4.66vw;
    }

    nav h2 a {
        height: 16.66vw;
        line-height: 16.66vw;
        margin: 0 5.55vw;
        display: block;
        font-size: 5.16vw;
        font-weight: bold;
        position: relative;
        top: auto;
        left: auto;
    }

    .social_btns {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1100;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 16.66vw;
        width: 100%;
        background: none !important;
        box-sizing: border-box;
        padding: 0 !important;
    }

    .btn_insta {
        width: 6vw;
        height: 6vw;
        background: url(../img/social_insta_m.png)no-repeat center center;
        background-size: 100% auto;
        position: relative;
        display: inline-block;
        margin: 0 2.77vw;
    }

}
