<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default_layout}">
<body>

    <section class="contents" layout:fragment="content">
        <!-- Main Contents -->
        <div class="swiper">
            <div class="swiper-img"></div>
        </div>

        <div class="intro-banner">
            <p>
                I'll show you around <strong style="color: #01a84e">Hongdae</strong>, where Koreans love to hang out!
            </p>
        </div>
    </section>

</body>

</html>
