<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>
<div id="wrap">
    <header class="top">
        <section class="top_01">
            <a href="#" class="btn_all gnb_all" onclick=""></a>

            <a id="logo_img_link" href="/">
                <img src="/img/localhongdae_logo.png" alt="local hongdae">
            </a>

        </section>

        <nav class="main m_open">
        </nav>
    </header>
</div>
</body>
</html>